body {
    margin:0;
    height:100vh;
}
html {
    height:100vh;
    font-family: 'Cabin',sans-serif;
}

#root {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#main {
    height:95vh;
}

#graph {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.node.selected {
    stroke: #003347 !important;
    fill: #ccc !important;
    color: #003347;
}

.view-wrapper .node .node-text.selected {
    fill: #003347 !important;
    stroke: none !important;
}

.view-wrapper .arrow {
    fill: #003347 !important;
}

.edge {
    stroke: #003347 !important;
}

.view-wrapper .graph-controls > .slider-button {
    fill: #003347 !important;
    width: 45px !important;
    height: 45px !important;
    padding: 10px !important;
}

.view-wrapper .graph-controls > .slider-wrapper {
    color: #003347 !important;
}

.view-wrapper .graph-controls > .slider-wrapper span {
    color: #003347 !important;
}

.sketcherDescription {
    font-size: 14px;
    text-align:justify;
    background-color: #ddd;
    padding:10px;
}

.nodeField {
    margin-bottom:10px;
}

#payloadHolder {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.node.selected {
    stroke-width:2px !important;
}

.react-joyride__tooltip strong {
    font-family: 'Cabin', sans-serif;
}

.react-joyride__tooltip button {
    font-family: 'Cabin', sans-serif;
}

.tourButton span{
    display: block;
    font-size:18px;
}

.manualButton span{
    display: block;
    font-size:18px;
}

.tourButton svg {
    font-size:50px;
    color: #003347;
    margin:auto;
}

.manualButton svg {
    font-size:50px;
    color: #003347;
    margin:auto;
}

.helpOptions {
    text-align:center;
}

.helpOptions a {
    display: inline-block;
    cursor: pointer;
    text-align:center;
    text-decoration: none;
    padding:20px;
    border: 1px #ddd solid;
    border-radius: 3px;
    margin-right:10px;
    font-family: 'Cabin', sans-serif;
    width: 30%;
    whitespace: no-wrap;
}

.helpOptions a:hover {
    background-color: #eee;
}

#sankeyPlot text {
    fill: #003347 !important;
    font-size:15px !important;
}

/* div[x-placement="top"] {
    z-index: 3000 !important;
    position: relative !important;
    transform: inherit !important;
  } */

#sankeyPlot path[class^='SankeyLink-'] {
    mix-blend-mode: normal !important;
}

#sankeyPlot div[class^='SankeyLink-module_tooltipValue__']::after {
    content: '%';
}

#sankeyPlot div[class^='SankeyLink-module_tooltipValue__'] {
    font-size:20px;
}


div[x-placement="top"]{
    background-color: rgb(66, 145, 158, 0.8);
    z-index:3333 !important;
} 

.highcharts-data-label tspan {
    font-family: 'Cabin', sans-serif;
    color: #003347;
    font-size:13px;
}

.highcharts-tooltip {
    font-family: 'Cabin', sans-serif;

}

.ccr h1{
    fontSize: 20px;
}