@font-face {
    font-family: Cabin;
    font-weight: 400;
    font-style: normal;
    src: url("cabin-v14-latin-regular.woff2") format("woff2"), url("cabin-v14-latin-regular.woff") format("woff");
    font-display: swap;
  }
